@font-face {
    font-family: "MulishRegular";
    src: url("./fonts/Mulish-Regular.ttf") ;
    font-weight: normal;
}

@font-face {
    font-family: "MulishBold";
    src: url("./fonts/Mulish-Bold.ttf") ;
    font-weight: bold;
}