.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(208deg, #67C3F3 9.05%, #5A98F2 76.74%);
}

.container{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #FFF;
font-family: "MulishRegular";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img{
    width: 141px;
height: 141px;
flex-shrink: 0;
border-radius: 50%;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}